*{
    font-family: cursive;
    color: rgb(20, 20, 19);
    font-size: 0.5cm;
    /* background-color: aquamarine; */
}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(205, 162, 223);
    }
  }
  body{
    background-image: url(background.jpg);
    /* height: 100vh; */
}
  /* #link {
    list-style-type: none;
    margin: 1;
    padding: 0;
  }
  
  .l1 {
    display: inline;
  } */
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color:lightblue;
    /* text-decoration-color: black */
  }
  .nav-item a {
    display: block;
    color:black;
    padding: 14px 16px;
  }
  
  /* .nav-item {
    float: left;
  }
  
  .nav-item a {
    display: block;
    color:rgb(20, 20, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    background-color: rgb(250, 246, 246);
  } */